<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.2.1" targetFramework="net452" />
  <package id="Autofac.Extras.Moq" version="4.0.0" targetFramework="net452" />
  <package id="AutoMock" version="1.0.3.2" targetFramework="net452" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net452" />
  <package id="Moq" version="4.5.29" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="NLog" version="4.4.5" targetFramework="net461" />
  <package id="NUnit" version="3.5.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net452" />
  <package id="SystemWrapper.Interfaces" version="0.19.0.115" targetFramework="net462" />
</packages>