<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

  <variable name="logDir" value="${basedir}\logs" />
  <variable name="maxLogSizeBytes" value="1048576" />
  <targets async="true">
    <target xsi:type="File" name="errorLogFile"
            fileName="${logDir}\current-err.log"
            archiveFileName="${logDir}\err.{#}.log"
            archiveAboveSize="${maxLogSizeBytes}"
            maxArchiveFiles="10"
            archiveNumbering="DateAndSequence"
            archiveEvery="Day"
            keepFileOpen="true"
            openFileCacheTimeout="30" />

    <target xsi:type="File" name="logFile"
          fileName="${logDir}\current-log.log"
          archiveFileName="${logDir}\log.{#}.log"
          archiveAboveSize="${maxLogSizeBytes}"
          maxArchiveFiles="10"
          archiveNumbering="DateAndSequence"
          archiveEvery="Day"
          keepFileOpen="true"
          openFileCacheTimeout="30" />
    <target xsi:type="OutputDebugString" name="ODS" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logFile" />
    <logger name="*" minlevel="Error" writeTo="errorLogFile" />
    <logger name="*" minlevel="Debug" writeTo="ODS" />
  </rules>
</nlog>