<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.2.1" targetFramework="net452" />
  <package id="Autofac.Mef" version="4.0.0" targetFramework="net462" />
  <package id="Autofac.SignalR2" version="4.0.0" targetFramework="net452" />
  <package id="Flurl" version="2.3.0" targetFramework="net462" />
  <package id="Flurl.Http" version="1.1.2" targetFramework="net462" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net452" />
  <package id="jQuery" version="1.6.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.SelfHost" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Diagnostics" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Hosting" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.SelfHost" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Win32.Primitives" version="4.0.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="NHotkey" version="1.2.1" targetFramework="net452" />
  <package id="NHotkey.Wpf" version="1.2.1" targetFramework="net452" />
  <package id="NLog" version="4.4.5" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.0.0" targetFramework="net462" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net461" />
  <package id="System.IO.FileSystem" version="4.0.1" targetFramework="net462" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net462" />
  <package id="System.Linq" version="4.1.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.1.0" targetFramework="net462" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net462" />
  <package id="System.Reflection.TypeExtensions" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.2.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.0.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.0.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.1.0" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="4.0.1" targetFramework="net462" />
  <package id="SystemWrapper.Interfaces" version="0.19.0.115" targetFramework="net461" />
  <package id="SystemWrapper.Wrappers" version="0.19.0.115" targetFramework="net461" />
</packages>